{%extends 'base.html'%}
{%load columns%}
{%load bootstrap5%}
{%load static%}


{% block content %}
{{block.super}}


<div class="container">
    <div class="row">


    
            {%for photo in photos%}
            <div class="col-md-4" style="margin: 1%; margin-left:5%;width:100%; height:100%;">
            <div class="card">
                <img src="{{photo.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{photo.title}}</h5>
            
                  <p class="card-text">{{photo.description}}</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <div class="card-footer">
                    <a href="{% url 'photo' photo.id %}">
                        Photo Details
                 </a>
                </div>
                </div>
                </div>

                            
                        




        


            {%empty%}
            <h2 class="text-center">
                Images not found
            </h2>
            {%endfor%}


    </div>



</div>


</div>





{% endblock %}